body.darkgreen {
  --primary: #0ad78f;
  --primary100: #15f5a6;
  --primary200: #1db37e;
  --primary200-27: rgba(29, 179, 126, 0.27);
  --primary200-60: rgba(29, 179, 126, 0.60);
  --primary300: #2a946f;
  --primary400: #2d8163;
  --primary500: #2c6752;
  --primary600: #285445;
  --primary700: #234237;
  --primary800: #2b3c37;
  --primary900: #27312e;
}