body.darkviolet {
  --primary: #9a75fb;
  --primary100: #af91ff;
  --primary200: #8765e1;
  --primary200-27: rgba(135, 101, 225, 0.27);
  --primary200-60: rgba(135, 101, 225, 0.60);
  --primary300: #7651d5;
  --primary400: #6548b0;
  --primary500: #655298;
  --primary600: #44356b;
  --primary700: #3a3056;
  --primary800: #29223f;
  --primary900: #282334;
}