body.darkblue {
  --primary: #0fb6f3;
  --primary100: #2bc4fd;
  --primary200: #0c9ace;
  --primary200-27: rgba(12, 154, 206, 0.29);
  --primary200-60: rgba(12, 154, 206, 0.60);
  --primary300: #0b80aa;
  --primary400: #126482;
  --primary500: #14617e;
  --primary600: #14485c;
  --primary700: #153a48;
  --primary800: #203840;
  --primary900: #202f34;
}