body.darkviolet {
  --primary: #c563ff;
  --primary100: #cc78ff;
  --primary200: #aa51e0;
  --primary200-27: rgba(171, 77, 227, 0.27);
  --primary200-60: rgba(171, 77, 227, 0.60);
  --primary300: #9949c9;
  --primary400: #7f3ba8;
  --primary500: #6c3a88;
  --primary600: #54286c;
  --primary700: #492a59;
  --primary800: #391f49;
  --primary900: #31203a;
}