body.darkviolet {
  --primary: #9061ff;
  --primary100: #a07aff;
  --primary200: #714fe3;
  --primary200-27: rgba(113, 79, 227, 0.27);
  --primary200-60: rgba(113, 79, 227, 0.60);
  --primary300: #6e4ac9;
  --primary400: #5b3caa;
  --primary500: #513a88;
  --primary600: #3b286c;
  --primary700: #392a5a;
  --primary800: #2a1f47;
  --primary900: #28213b;
}