body.darkyellow {
  --primary: #d6b80a;
  --primary100: #edce19;
  --primary200: #d1b306;
  --primary200-27: rgba(209, 179, 6, 0.27);
  --primary200-60: rgba(209, 179, 6, 0.52);
  --primary300: #bda20a;
  --primary400: #a79117;
  --primary500: #847626;
  --primary600: #6a5f1e;
  --primary700: #50481d;
  --primary800: #3e3a25;
  --primary900: #323124;
}