body.lightgreen {
  --primary: #326e0a;
  --primary100: #40880f;
  --primary200: #34720b;
  --primary200-27: rgba(52, 114, 11, 0.27);
  --primary200-60: rgba(52, 114, 11, 0.42);
  --primary300: #418512;
  --primary400: #63a932;
  --primary500: #7bab58;

  --primary700: #94b47e;
  --primary800: #a0ce81;
  --primary900: #becbb8;
}