body.lightred {
  --primary: #d2240e;
  --primary100: #ee3218;
  --primary200: #b4200b;
  --primary200-27: rgba(180, 32, 11, 0.22);
  --primary200-60: rgba(180, 32, 11, 0.60);
  --primary300: #cc4839;
  --primary400: #c5796f;
  --primary500: #ab7f79;

  --primary700: #d9b9b4;
  --primary800: #d1aea7;
  --primary900: #cdbdba;

  --warn: #d16522;
  --warn-7: #d1652212;
  --warn100: #fa711e;
  --warn200: #ce6729;
  --warn300: #c56f3a;
  --warn400: #bb7448;
  --warn500: #be8a6a;

  --warn800: #523c30;
  --warn900: #cfc5bf;
}