body.lightbrown {
  --primary: #6e380c;
  --primary100: #82400b;
  --primary200: #7c3d0a;
  --primary200-27: rgba(124, 61, 10, 0.27);
  --primary200-60: rgba(124, 61, 10, 0.50);
  --primary300: #a46631;
  --primary400: #916b4b;
  --primary500: #9e7858;

  --primary700: #ae9685;
  --primary800: #c8a789;
  --primary900: #c8beb5;
}