body.lightpurple {
  --primary: #a942e5;
  --primary100: #a656f3;
  --primary200: #862cdc;
  --primary200-27: rgba(127, 40, 211, 0.22);
  --primary200-60: rgba(127, 40, 211, 0.50);
  --primary300: #8436d2;
  --primary400: #8658b4;
  --primary500: #b690dc;

  --primary700: #c3acda;
  --primary800: #bfa3da;
  --primary900: #ddd1e8;
}