body.lightred {
  --primary: #d4240c;
  --primary100: #ee3218;
  --primary200: #b4200b;
  --primary200-27: rgba(180, 32, 11, 0.22);
  --primary200-60: rgba(180, 32, 11, 0.60);
  --primary300: #d73520;
  --primary400: #c5796f;
  --primary500: #ab7f79;

  --primary700: #d9b9b4;
  --primary800: #d1aea7;
  --primary900: #cdbdba;

  --warn: #e05c0b;
  --warn-7: #f1620b12;
  --warn100: #fa711e;
  --warn200: #ce6729;
  --warn300: #c56f3a;
  --warn400: #c58760;
  --warn500: #be8a6a;

  --warn800: #523c30;
  --warn900: #d9ccc3;
}