body.lightpurple {
  --primary: #8948fa;
  --primary100: #9356ff;
  --primary200: #6423d5;
  --primary200-37: rgba(100, 30, 220, 0.19);
  --primary200-60: rgba(100, 30, 220, 0.50);
  --primary300: #7739e0;
  --primary400: #8f76bb;
  --primary500: #a087d2;

  --primary700: #b8abce;
  --primary800: #b7a6d7;
  --primary900: #d2cce0;
}