body.lightblue {
  --primary: #3057ce;
  --primary100: #4d77f2;
  --primary200: #2a50c4;
  --primary200-27: rgba(42, 80, 196, 0.27);
  --primary200-60: rgba(42, 80, 196, 0.50);
  --primary300: #2e55c9;
  --primary400: #6988dc;
  --primary500: #7b93dc;

  --primary700: #95a5da;
  --primary800: #8f9fd0;
  --primary900: #bfc5d8;
}