@use './buttons/button-contained';
@use './buttons/button-not-contained';
@use './buttons/button-regular';
@use './buttons/button-icon';
@use './buttons/button-lighter';
@use './buttons/button-menu-item';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--foreground-77);
  cursor: pointer;
  border: 0;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
    color: var(--foreground-43);
  }

  &:hover {
    background-color: var(--foreground-7);
  }
}