@use './buttons/button-contained';
@use './buttons/button-not-contained';
@use './buttons/button-regular';
@use './buttons/button-icon';
@use './buttons/button-lighter';

:root {
  --icon-button-size: 40px;
  --icon-button-size-small: 28px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  border: 0;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--white-7);
  }
}