:root {
  --icon-button-size: 40px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  border: 0;

  &:hover {
    background-color: var(--white-7);
  }

  &.--icon {
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    border-radius: 50%;
  }

  &.--regular,
  &.--contained {
    padding: 0 16px;
    height: 32px;
    line-height: 1;
    border-radius: 2px;

  }

  &.--regular {
    &.--primary {
      color: var(--primary);

      &:hover {
        background-color: var(--primary900);
      }
    }
  }

  &.--contained {
    font-weight: 700;

    &.--primary {
      color: var(--dark50);
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary100);
      }
    }
  }

  &.--regular,
  &.--lighter {
    background-color: var(--white-7);

    &:hover {
      background-color: var(--white-13);
    }
  }
}