:root {
  --white: #fff;
  --white-82: rgba(255, 255, 255, 0.82);
  --white-64: rgba(255, 255, 255, 0.64);
  --white-61: rgba(255, 255, 255, 0.61);
  --white-16: rgba(255, 255, 255, 0.16);
  --white-7: rgba(255, 255, 255, 0.07);
  --white-4: rgba(255, 255, 255, 0.04);


  --dark50: #101010;
  --dark100: #141414;
  --dark100-60: #14141499;
  --dark200: #1a1a1a;
  --dark300: #222;
  --dark400: #333;


  --primary: #0ad78f;
  --primary100: #15f5a6;
  --primary200: #1db37e;
  --primary300: #2a946f;

  --primary800: #2b3c37;
  --primary900: #27312e;

  --warn: #ff325b;
  --warn100: #ff4267;

  // @todo adjust darker shades to new warn color
  --warn800: #44272d;
  --warn900: #3a272a;
}