:root {
  --white: #fff;
  --white-82: #ffffffd1;
  --white-60: #ffffff99;
  --white-13: #ffffff22;
  --white-7: #ffffff11;
  --white-4: #ffffff0a;


  --dark50: #101010;
  --dark100: #141414;
  --dark100-60: #14141499;
  --dark200: #1a1a1a;
  --dark300: #222;
  --dark400: #333;


  --primary: #0ad78f;
  --primary100: #15f5a6;
  --primary200: #1db37e;
  --primary300: #2a946f;

  --primary800: #2b3c37;
  --primary900: #27312e;


  --warn: #de294c;
  --warn100: #f52a51;
  --warn200: #c3203f;
  --warn300: #a5213a;

  --warn800: #44272d;
  --warn900: #3a272a;
}