.input {
  min-width: 0;
  font: inherit;
  background-color: inherit;
  border: 0;

  &.--text {
    padding: 8px;
    background-color: var(--foreground-4);
    color: var(--foreground-82);
    outline: none;

    &::placeholder {
      color: var(--foreground-61);
    }

    &:focus {
      background-color: var(--foreground-7);
    }
  }
}