@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --sidebar-width: 48px;
  --sidebar-width-opened: 80%;
  --sidebar-backdrop-transition: opacity 0.25s ease-in-out;

  --icon-size: 24px;
  --wrapper-horizontal-padding: 16px;

  @media (min-width: 600px) {
    --sidebar-width: 64px;
    --sidebar-width-opened: 268px;

    --wrapper-horizontal-padding: 32px;
  }

  @media (max-width: 350px) {
    --sidebar-width: 52px;
    --sidebar-width-opened: 240px;
  }
}

body {
  &.ltr { direction: ltr; }
  &.rtl { direction: rtl; }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 300 16px Lato, Arial, sans-serif;
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--background0-47);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--background500);
  }
}

.--primary {
  color: var(--primary);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  letter-spacing: 0.2px;
}

::selection {
  background-color: var(--primary200-27);
}