.button {
  &.--icon {
    border-radius: 50%;

    &:not(.--small) {
      width: var(--icon-button-size);
      height: var(--icon-button-size);
    }

    &.--small {
      width: var(--icon-button-size-small);
      height: var(--icon-button-size-small);

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &.--ghost-icon {
    border-radius: 50%;
    
    width: var(--ghost-icon-button-size);
    height: var(--ghost-icon-button-size);
    padding: 2px;
  }
}