.button {
  &.--menu-item {
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background-color: transparent;

    &:not(:last-child) {
      border-bottom: 1px solid var(--dark350);
    }

    &:not(:disabled):hover {
      background-color: var(--white-4);
    }

    &.--warn {
      &:not(:disabled):hover {
        background-color: var(--warn-7);
      }
    }
  }
}