.button:not(.--contained) {
  &:not(:disabled) {
    &.--primary {
      color: var(--primary);

      &.--lighter,
      &.--regular {
        &:hover {
          background-color: var(--primary900);
        }
      }
    }

    &.--warn {
      color: var(--warn);

      &.--lighter,
      &.--regular {
        &:not(:disabled):hover {
          background-color: var(--warn900);
        }
      }
    }
  }

  &:disabled {
    &.--primary {
      color: var(--primary400);
    }

    &.--warn {
      color: var(--warn400);
    }
  }
}