.button.--regular {
  padding: 0 12px;
  height: 32px;
  line-height: 1;
  border-radius: 2px;
  background-color: var(--white-7);

  @media (min-width: 600px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--white-11);
    }

    &.--darker {
      &:hover {
        background-color: var(--white-7);
      }
    }
  }
}